<div class="my-5 container">
    <!-- Property biding with innerHTML -->
    <p [innerHTML]="welcome"></p>
    <p>{{number}}</p>
    <p class="text-danger">{{message}}</p>
    <button (click)="incrementClick()" class="btn btn-success">Increment</button>
    <button (click)="decrementClick()" class="btn btn-warning">Decrement</button>
    <button (click)="reset()" class="btn btn-secondary">Reset</button>

    <hr/>
    <h2>Our products</h2>
    <ul>
        <li (click)="selectProduct('Webcam')">Webcam</li>
        <li (click)="selectProduct('Microphone')">Microphone</li>
        <li (click)="selectProduct('Wireless Keyboard')">Wireless Keyboard</li>
    </ul>
    <hr>
    <div *ngIf="selectedProduct">
        <h2>Selected Product</h2>
        <!-- pass data using input -->
        <!-- name refer to the variable on child -->
        <!-- selectedProduct is the variable from this page passed to child -->
        

         <!-- pass data using Output -->
         <!-- I will listen to the bought event from child-->
         <!-- Once it is called, I will run the function onBuy on .ts -->
        <app-product-detail [name]='selectedProduct' (bought)="onBuy($event)">
        </app-product-detail>
    </div>


</div>

