<div class="my-5 container">
    <!-- Property biding with innerHTML -->
    <p [innerHTML]="welcome"></p>
    <p>{{number}}</p>
    <p class="text-danger">{{message}}</p>
    <button (click)="incrementClick()" class="btn btn-success">Increment</button>
    <button (click)="decrementClick()" class="btn btn-warning">Decrement</button>
    <button (click)="reset()" class="btn btn-secondary">Reset</button>

    <hr/>
    <h2>Our products</h2>
    <ul>
        <li (click)="selectProduct('Webcam')">Webcam</li>
        <li (click)="selectProduct('Microphone')">Microphone</li>
        <li (click)="selectProduct('Wireless Keyboard')">Wireless Keyboard</li>
    </ul>
    <hr>
    <div>
        <h2>Selected Product</h2>
        <app-product-detail></app-product-detail>
    </div>


</div>

